body {
  margin: 0;
  user-select: none;
}

.text{
  display: none;
}

.card{
  cursor: pointer;
}


button:hover{
  background-color: rgb(180, 208, 244);
}

button:active{
  background-color: rgb(176, 198, 248);
}

.disabled{
  pointer-events: none;
}
.container {
  max-width: 600px;
}
